{% extends "base.html" %}
{% load static from staticfiles %}
{% block head %}
	<!-- Standard Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>我们的日记本--{{date|date:"Y-m-d"}}</title>
	<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "bootstrap/magicsuggest/magicsuggest-min.css" %}" rel="stylesheet">
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="{% static "bootstrap/js/jquery.min.js" %}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
	<script src="{% static "bootstrap/magicsuggest/magicsuggest-min.js"%}"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		var data = new Array();		
		var i = 0;
		i=0
	{% for ikey in keywords %}
		data[i]="{{ikey.text}}";
		i+=1;
	{% endfor %}
		$('#magicsuggest')
		.magicSuggest({
			allowFreeEntries: true,
			data: data
		});
	});
	</script>
	<script type="text/javascript">
	$(document).ready(function(){
            var options=$("#mood").val();
            console.log(options);
            var options=$("#keywords").val();
            console.log(options);
        });
	</script>
	<style type="text/css">
	body {
	padding-top: 40px;
	padding-bottom: 40px;
	}
	.maincontent {
	max-width: 600px;
	padding: 15px;
	margin: 0 auto;
	}
	</style>
{% endblock %}
{% block content %}
	<body>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">固定导航</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/diary/" >PP's</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/diary/">首页</a></li>
						<li><a href="/diary/{{date|date:"Y/m/"}}">月记</a></li>
						<li><a href="/diary/{{date|date:"Y/"}}">年记</a></li>
						<li><a href="/blog/">博客</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/logout/">退出</a></li>
					</ul>
					</div><!--/.nav-collapse -->
				</div>
			</nav>
			<div class="container">
				<div class="jumbotron">
					<div class="row">
						<h2>{{user.username}},欢迎回来哦！</h2>
						<p>今天是{{date|date:"Y年m月d日"}}。开心，快乐，郁闷，忧伤，不管怎样，都写下来吧！</p>
						<div class="text-right">
							<p class="label label-success">我的本月指数:
							{{myMonthScore|floatformat:"1"}}</p>
							<p class="label label-warning">TA的本月指数:{{yourMonthScore|floatformat:"1"}}</p>
						</div>
					</div>
				</div>
				<div class="maincontent">
					<img src="{% static "pic.png" %}" class="img-responsive" alt="Logo">
				</div>
				<hr>
				<form class="form" method = "post">
					{% csrf_token %}
					<h2>选择一下心情吧</h2>
					<div class="row">
						
						<div class="col-xs-3 col-lg-2">
							<select class="form-control" id="mood" name="score">
								<option>很伤心</option>
								<option>不开心</option>
								<option>还可以</option>
								<option>开心吧</option>
								<option>好开心</option>
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-8">
							<div class="progress" name="keywords">
								<div class="progress-bar progress-bar-striped active" id="score" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"><span class="sr-only">40% Complete (success)</span>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<h2>选择一下心情吧</h2>
				<div name="keywords" >
					<input id="magicsuggest">
				</div>
				<hr>
				<h2>今天的故事</h2>
				<textarea class="form-control" rows="8" name="contenttext"></textarea>
				<button class="btn btn-success btn-lg btn-block" type="submit">写好了</button>
			</form>
			<hr>
			
		</body>
	{% endblock %}