{% extends "base.html" %}
{% load static from staticfiles %}
{% block head %}
	<!-- Standard Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>我们的日记本--{{date|date:"Y-m-d"}}</title>
	<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "bootstrap/magicsuggest/magicsuggest-min.css" %}" rel="stylesheet">
	<!-- <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-progressbar.css"%}"> -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="{% static "bootstrap/js/jquery.min.js" %}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
	<script src="{% static "bootstrap/magicsuggest/magicsuggest-min.js"%}"></script>
	<script type="text/javascript">
	$(document).ready(function() {
	var data = new Array();
	var i = 0;
	i=0
	{% for ikey in keywords %}
												data[i]="{{ikey.text}}";
												i+=1;
	{% endfor %}
	$('#magicsuggest')
	.magicSuggest({
	allowFreeEntries: true,
	data: data
	});
	});
	</script>
	<!--<script type="text/javascript">
	$(document).ready(function(){
		$("#moodform").change(function(){
			var val=0;
			val=$("select option:selected").data("value");
			val=val/5.0*100;
			$("#score").css("width",val+"%");
			console.log(val);
		});
	});
	</script>-->
	<style type="text/css">
	body {
	padding-top: 40px;
	padding-bottom: 40px;
	}
	.maincontent {
	max-width: 600px;
	padding: 15px;
	margin: 0 auto;
	}
	</style>
{% endblock %}
{% block content %}
	<body>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">固定导航</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/diary/" >PP's</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/diary/">首页</a></li>
						<li><a href="/diary/{{date|date:"Y/m/"}}">月记</a></li>
						<li><a href="/diary/{{date|date:"Y/"}}">年记</a></li>
						<li><a href="/blog/">博客</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/logout/">退出</a></li>
					</ul>
					</div><!--/.nav-collapse -->
				</div>
			</nav>
			<div class="container">
				<div class = "col-sm-8">
					
					<div class="maincontent">
						<img src="{% static "pic.png" %}" class="img-responsive" alt="Logo">
					</div>
					<hr>
					<form class="form" method = "post" id="moodform">
						{% csrf_token %}
						<h2>今天的故事</h2>
						<textarea class="form-control" rows="8" name="contenttext"></textarea>
						<div class="row">
							<div class = "col-sm-3">
								<h4>今天的关键词</h4>
							</div>
							<div class = "col-sm-9">
								<div >
									<input id="magicsuggest" name="abstract" >
								</div>
							</div>
						</div>
						<div class="row">
							<div class = "col-sm-3">
								<h4>选择一下心情吧</h4>
							</div>
							<div class = "col-sm-9">
								<div class="btn-group btn-group-justified" role="group" aria-label="...">
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-default">很伤心</button>
									</div>
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-primary">不开心</button>
									</div>
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-success">还可以</button>
									</div>
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-info">开心吧</button>
									</div>
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-warning">开心吧</button>
									</div>
								</div>
							</div>
						</div>
						
						<button class="btn btn-success btn-lg btn-block" type="submit">写好了</button>
						<hr>
						
					</form>
					<hr>
				</div>
				<div class ="col-sm-3">
					<div class="jumbotron">
						<div class="row">
							<h2>{{user.username}}</h2>
							<h3>欢迎回来哦！</h3>
							<p>今天是{{date|date:"Y年m月d日"}}。</p><p>开心，快乐，郁闷，忧伤，不管怎样，都写下来吧！</p>
							<div class="text-right">
								<p class="label label-success">我的本月指数:{{myMonthScore|floatformat:"1"}}</p>
								<p></p>
								<p class="label label-warning">TA的本月指数:{{yourMonthScore|floatformat:"1"}}</p>
							</div>
						</div>
					</div>
				</div>
			</body>
		{% endblock %}