{% extends "base.html" %}
{% load static from staticfiles %}
{% block head %}
  <!-- Standard Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>我们的日记本--登陆</title>
  <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <style type="text/css">
  body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  }
  .form-signin {
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
  }
  </style>
{% endblock %}
{% block content %}
  <body>
    <div class = "container">
      <div class="form-signin">
        <img src="{% static "pic.png" %}" class="img-responsive" alt="Logo">
        <form class="form-inline" method = "post">
          {% csrf_token %}
          <label type="username" class="sr-only"></label>
          <input type="username" id="username" name="username" class="form-control" placeholder="用户名" required autofocus>
          <label type="password" class="sr-only"></label>
          <input type="password" id="password" name="password" class="form-control" placeholder="密码" required>
          <button class="btn btn-default " type="submit">登陆</button>
        </form>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "bootstrap/js/jquery.min.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
  </body>
{% endblock %}